:root {
    --blue: #0074D9;
    --aqua: #7FDBFF;
    --fuchsia: #F012BE;
    --red: #FF4136;
    --orange: #FF851B;
    --yellow: #FFDC00;
    --green: #2ECC40;
    --gray: #AAA;
    --white: #FFF;
    --black: #111;
}